<h1>Welcome to your Restaurant Yelp</h1>
<% @restaurants.each do |restaurant| %>
  <li>
  <%= restaurant.name %>
  <%= restaurant.address %>
  <%= restaurant.category %>
<!--   <td><%= restaurant.reviews %></td> -->
  </li>
  <%= link_to 'Show Details', restaurant_path(restaurant) %>
<% end %>
<br>
<br>
<br>

<%= link_to 'New', new_restaurant_path, class: "btn btn-primary" %>


